.wrapper {   
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  .side-bar {
    box-sizing: border-box;
    color: $white;
    width: 300px;
    .header {
      background-color: $side_blue_dark;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
      &__name {
        display: inline-block;
        font-size: $side_header_font;
        font-weight: bold;
      }
      &__lists {
        display: inline-block;
        float: right;
        .list {
          display: inline-block;
        }
        .icon {
          color: $white;
          font-size: $side_header_font;
        }
      }
    }
  
    .groups {
      background-color: $side_blue_light;
      height: calc(100vh - 100px);
      padding: 0 20px;
      .group {
        box-sizing: border-box;
        padding: 20px 0 40px;
        &__name {
          color: $white;
          font-size: $side_group_name;
        }
        &__message {
          color: $white;
          font-size: $side_group_message;
          margin-top: 5px;
        }
      }
    }
  }
  .chat-main {
    width: calc(100vw - 300px);
    float: left;
    .main-header {
      background-color: #ffffff;
      height: 100px;
      border-bottom: 1px solid #eee;
      display: flex;
      padding: 0 40px;
      justify-content: space-between;
      position: relative;

        &__left-box {
            margin-top: 35px;
      }
          &__left-box__member-list {
            display: flex;
            font-size: 12px;
            color: #999999;
          }
          &__left-box__current-group {
            font-size: 20px;
            color: #333;
            margin-bottom: 15px;
          }
          &__left-box__member-list {
            font-size: 12px;
            color: #999;
            display: flex;
          }
            &__left-box__member-list__member {
              margin: 0;
              padding: 0;
              }
          .btn {
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            margin-top: 30px;
            border: solid 1px #38aef0;
            position: absolute;
            right: 40px;
            color:#38aef0;
            font-size: 16px;
            top: 0;
          }
        }
    .messages {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 46px 40px;
      .message {
        padding-bottom: 40px;
        &__upper-info {
          display: flex;
          margin-bottom: 10px;
          width: 100%;
          &__talker {
            color: gray;
            font-size: 16px;
            font-weight: bold;
            padding-right: 10px;
          }
          &__date {
            font-size: 12px;
            color: #999999;
            padding: 3px 0;
          }
        }
        &__text { 
          color: gray;
          font-size: 14px;
          margin-bottom: 10px;
        }             
      }   
    }
    .form {
      background-color: #d2d2d2;
      height: 50px;
      padding: 20px 50px 20px 40px;
      background-color: #ddd;
      position: fixed;
      bottom: 0;
      width: calc(100vw - 380px);

      form {
        display: flex;
        .input-box {
          display: flex;
          width: 100%;
          position: relative;
        
          &__text {
            height: 50px;
            width: 100%;
            color:#434a54;
            border-style: none;
            padding: 0 40px 0 10px;
          }
          &__image {
            cursor: pointer;
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;

          &__file {
            display: none;
            }
          }
        }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;

        }
      }
    }
  }
}